{% extends "bases/base_generic.html" %}
{% load static %}

	{% block content %}
		<div class="page-content">
			<div class="container-fluid">
				<div class="bg-overlay bg-white"></div>

				<!-- start page title -->
				<div class="row">
					<div class="col-12">
						<div class="page-title-box d-flex align-items-center justify-content-between">
							<h2>QC</h2>
							<button id="print" type="button" class="btn btn-outline-secondary print_btn"><i class="bi bi-printer"></i> <span class="invisible-">화면 프린트</span></button>

							<div class="page-nav">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="/"> <i class="bi bi-house"></i> </a></li>
									<li class="breadcrumb-item"><a href="/miscellaneous/QC/">QC</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- end page title -->

				<!-- start contents-area -->
				<div class="row" id="printArea">
					<div class="col-12">
						<div class="info-box mb-4">
							<div class="row row-cols-auto align-items-center header-btns">
								<div class="col" >
									<h4 class="sub-title mb-3">
										<span class="tit">
											Vendor에 따른 연구별/CRC/PI별 Query 종류 및 개수
											{% if from_date %} {% else %} ({{first_day|date:'Y'}}년 {{first_day|date:'m'}}월) {% endif %}
										</span>
									</h4>
									<div class="fulldetalil-search">
										<form action="/miscellaneous/QC" method="GET" class="mt-4 mb-1">
											<div class="form-group">
												<div class="form-cons">
													<div class="form-check-area">
														<div class="item ps-0">
															<div class="form-check form-check-success">
																<label class="form-check-label">
																	<input type="radio" class="form-check-input" name="optionRadios" value="total" id="search_all"
																		   {% if option_radio != 'period' %} checked {% endif %}/>
																	<i class="input-helper"></i><span class="form-check-sign">전체</span>
																</label>
															</div>
														</div>
														<div class="item">
															<div class="form-check form-check-success">
																<label class="form-check-label">
																	<input type="radio" class="form-check-input" name="optionRadios" value="period" id="search_period"
																			{% if option_radio == 'period' %} checked {% endif %}/>
																	<i class="input-helper"></i><span class="form-check-sign">기간</span>
																</label>
															</div>
														</div>
													</div>
													<div class="input-group">
														<input type="text" id="fromDate" name="from_date" class="form-control datepicker" autocomplete="off" data-calendar="false" value={{from_date|default_if_none:''}}>
														<label for="fromDate" class="input-group-text"><i class="bi bi-calendar-check"></i></label>
													</div>
													<div class="dash px-2"><span> ~ </span></div>
													<div class="input-group">
														<input type="text" id="toDate" name="to_date" class="form-control datepicker" autocomplete="off" data-calendar="false" value={{to_date|default_if_none:''}}>
														<label for="toDate" class="input-group-text"><i class="bi bi-calendar-check"></i></label>
													</div>
													<button type="submit" class="btn btn-success btn-sm edit-btn px-3 py-2 ms-1 search-btn"><i class="bi bi-search"></i> <span class="sr-only-">조회</span></button>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="col ms-auto">
									<button type="button" class="btn btn-success edit-btn px-4" onclick="location.href='/miscellaneous/QC/add/'">
										<i class="bi bi-plus-square"></i> <span>Add</span>
									</button>
								</div>
							</div>
						</div>

						<div class="info-box2 type2 mb-5">
							<div class="row">
								<div class="col-6 table-box">
									<div class="table-con">
										<!-- 다중선택되는 select박스로 검색하기 -->
										<div class="row row-cols-auto select-action">
											<h5>Vendor에 따른 연구별 쿼리 종류 및 개수</h5>
											<div class="col ms-auto d-flex">
												<div class="inline">
													<select id="table-filter" class="form-select">
														<option value="" selected="">Vendor</option>
													</select>
												</div>
												<div class="inline ms-1">
													<select id="table-filter2" class="form-select">
														<option value="">Study Name</option>
														<option value=""></option>
													</select>
												</div>
											</div>
										</div>

										<div class="table-responsive default-table">
											<table class="table" id="qcvendorTable01">
												<thead>
													<tr>
														<th>Vendor</th>
													    <th>Study Name</th>
													    <th>Query Type</th>
													    <th>Number of queries</th>
													</tr>
												</thead>
												<tbody>
												  {% for QC in QC %}
													<tr class="tr-hover table-link QC" QC-id="{{ QC.id }}">
													  <td>{{ QC.vendor }}</td>
													  <td>{{ QC.research.research_name }}</td>
													  <td>{{ QC.QC_category }}</td>
													  <td>{{ QC.QC_count }}</td>
													</tr>
												  {% endfor %}
												</tbody>
											</table>
										</div><!-- //table-responsive -->
									</div>
								</div>
								<div class="col-6 chart-box">
									<div class="chart-con">
										<div class="query_by_research_graph"></div>
									</div>
								</div>
							</div>
						</div>


						<div class="info-box2 type2 mb-5">
							<div class="row">
								<div class="col-6 table-box">
									<div class="table-con">
										<!-- 다중선택되는 select박스로 검색하기 -->
										<div class="row row-cols-auto select-action">
											<h5>Vendor에 따른 CRC별 쿼리 종류 및 개수</h5>
											<div class="col ms-auto d-flex">
												<div class="inline">
													<select id="table-filter3" class="form-select">
														<option value="" selected="">Vendor</option>
													</select>
												</div>
												<div class="inline ms-1">
													<select id="table-filter4" class="form-select">
														<option value="">CRC</option>
														<option value=""></option>
													</select>
												</div>
											</div>
										</div>

										<div class="table-responsive default-table">
											<table class="table" id="qcvendorTable02">
												<thead>
													<tr>
														<th>Vendor</th>
													    <th>CRC</th>
													    <th>Query Type</th>
													    <th>Number of queries</th>
													</tr>
												</thead>
												<tbody>
												  {% for QC in QC %}
													<tr class="tr-hover table-link QC" QC-id="{{ QC.id }}">
													  <td>{{ QC.vendor }}</td>
													  <td>{{ QC.research.crc.all.0 }}</td>
													  <td>{{ QC.QC_category }}</td>
													  <td>{{ QC.QC_count }}</td>
													</tr>
												  {% endfor %}
												</tbody>
											</table>
										</div><!-- //table-responsive -->
									</div>
								</div>
								<div class="col-6 chart-box">
									<div class="chart-con">
										<div class="query_by_CRC_graph"></div>
									</div>
								</div>
							</div>
						</div>


						<div class="info-box2 type2 mb-5">
							<div class="row">
								<div class="col-6 table-box">
									<div class="table-con">
										<!-- 다중선택되는 select박스로 검색하기 -->
										<div class="row row-cols-auto select-action">
											<h5>Vendor에 따른 PI별 쿼리 종류 및 개수</h5>
											<div class="col ms-auto d-flex">
												<div class="inline">
													<select id="table-filter5" class="form-select">
														<option value="" selected="">Vendor</option>
													</select>
												</div>
												<div class="inline ms-1">
													<select id="table-filter6" class="form-select">
														<option value="">PI</option>
														<option value=""></option>
													</select>
												</div>
											</div>
										</div>

										<div class="table-responsive default-table">
											<table class="table" id="qcvendorTable03">
												<thead>
													<tr>
														<th>Vendor</th>
													    <th>PI</th>
													    <th>Query Type</th>
													    <th>Number of queries</th>
													</tr>
												</thead>
												<tbody>
												  {% for QC in QC %}
													<tr class="tr-hover table-link QC" QC-id="{{ QC.id }}">
													  <td>{{ QC.vendor }}</td>
													  <td>{{ QC.research.PI }}</td>
													  <td>{{ QC.QC_category }}</td>
													  <td>{{ QC.QC_count }}</td>
													</tr>
												  {% endfor %}
												</tbody>
											</table>
										</div><!-- //table-responsive -->
									</div>
								</div>
								<div class="col-6 chart-box">
									<div class="chart-con">
										<div class="query_by_PI_graph"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

{% block script %}
<!-- studies 페이지용 js -->
<script src="{% static 'assets/js/pages/qc.js' %}"></script>
<script src="{% static 'js/CRUD/supporting_detail.js' %}"></script>
<script>
      $(document).ready(function() {
		var table = $('#qcvendorTable01').DataTable({
			dom: "frltp",
			ordering: false,
			rowsGroup: [0,1],
		});

		var table_column0 = table.column(0).data();
		var uniqueValues = table_column0.toArray().filter(function (value, index, self) {
			return self.indexOf(value) === index;
		}).sort();
		uniqueValues.forEach(function (val) {
			$('#table-filter').append('<option value="' + val + '">' + val + '</option>');
		});
		$('#table-filter').on('change', function () {
			table.column(0).search(this.value).draw();
		});

		var table_column1 = table.column(1).data();
		var uniqueValues = table_column1.toArray().filter(function (value, index, self) {
			return self.indexOf(value) === index;
		}).sort();
		uniqueValues.forEach(function (val) {
			$('#table-filter2').append('<option value="' + val + '">' + val + '</option>');
		});
		$('#table-filter2').on('change', function () {
			table.column(1).search(this.value).draw();
		});


		var table2 = $('#qcvendorTable02').DataTable({
			dom: "frltp",
			ordering: false,
			rowsGroup: [0,1],
		} );

		var table2_column0 = table2.column(0).data();
		var uniqueValues = table2_column0.toArray().filter(function (value, index, self) {
			return self.indexOf(value) === index;
		}).sort();
		uniqueValues.forEach(function (val) {
			$('#table-filter3').append('<option value="' + val + '">' + val + '</option>');
		});
		$('#table-filter3').on('change', function () {
			table2.column(0).search(this.value).draw();
		});

		var table2_column1 = table2.column(1).data();
		var uniqueValues = table2_column1.toArray().join(', ').split(', ').filter(function (value, index, self) {
			return self.indexOf(value) === index;
		}).sort();
		uniqueValues.forEach(function (val) {
			$('#table-filter4').append('<option value="' + val + '">' + val + '</option>');
		});
		$('#table-filter4').on('change', function () {
			// 선택한 값으로 열 필터링을 적용하고 다시 그립니다.
			table2.column(1).search(this.value).draw();
		});


		var table3 = $('#qcvendorTable03').DataTable({
			dom: "frltp",
			ordering: false,
			rowsGroup: [0,1],
		} );

		var table3_column0 = table3.column(0).data();
		var uniqueValues = table3_column0.toArray().filter(function (value, index, self) {
			return self.indexOf(value) === index;
		}).sort();
		uniqueValues.forEach(function (val) {
			$('#table-filter5').append('<option value="' + val + '">' + val + '</option>');
		});
		$('#table-filter5').on('change', function () {
			table3.column(0).search(this.value).draw();
		});

		var table3_column1 = table3.column(1).data();
		var uniqueValues = table3_column1.toArray().join(', ').split(', ').filter(function (value, index, self) {
			return self.indexOf(value) === index;
		}).sort();
		uniqueValues.forEach(function (val) {
			$('#table-filter6').append('<option value="' + val + '">' + val + '</option>');
		});
		$('#table-filter6').on('change', function () {
			// 선택한 값으로 열 필터링을 적용하고 다시 그립니다.
			table3.column(1).search(this.value).draw();
		});
	  });

      $('input[type=radio][name=optionRadios]').on('change',function () {
        var chkValue = $('input[type=radio][name=optionRadios]:checked').val();

        if(chkValue == 'total'){
            $( '#fromDate' ).attr('disabled', 'disabled').val('');
            $( '#toDate' ).attr('disabled', 'disabled').val('');

        }
        else {
            $( '#fromDate' ).removeAttr('disabled');
            $( '#toDate' ).removeAttr('disabled');
        }
      });

      $(function() {
			$(".datepicker").datepicker({
			todayHighlight: true,
			showMonthAfterYear: true,
			format: 'yyyy-mm-dd', // 날짜 형식
			autoclose: true, // 날짜 선택 후 자동으로 닫힘
			minViewMode: 'months', // 최소 선택 단위 (월)
			language: 'ko', // 한국어 지원
			}).on('changeDate', function (e) {
				// 시작일과 종료일 입력 필드를 구분하기 위해 데이터 속성을 활용합니다.
				var inputId = $(this).attr('id');
				if (inputId === 'fromDate') {
					// 시작일이 변경된 경우, 종료일을 설정합니다.
					var selectedDate = e.date;
					var endPicker = $('#toDate');
					var lastDay = new Date(selectedDate.getFullYear(), selectedDate.getMonth() + 1, 0);
					endPicker.datepicker('setDate', lastDay);
				}
			});
	  });


      var options = {
	    chart: {
                type: 'bar',
                stacked: true,
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        position: 'top',
                    },
                }
            },
            colors: ['#5E50F9', '#46c35f', '#fcb41d', '#57c7d4', '#f6e84e', '#aab2bd', '#E91E63'],
            dataLabels: {
                enabled: true,
                formatter: function (val) {
                    return val ;
                },
                style: {
                    fontSize: '11px',
                    colors: ["#304758"]
                }
            },
	    series: [{
                name: '입력 오류 - AE 관련',
                data: {{ query_by_research_dict.AE | safe }}
            },
            {
                name: '입력 오류 - RECIST 관련',
                data: {{ query_by_research_dict.RECIST | safe }}
            },
            {
                name: '입력 오류 - LAB 관련',
                data: {{ query_by_research_dict.LAB | safe }}
            },
            {
                name: '입력 오류 - 투약 관련',
                data: {{ query_by_research_dict.DOSAGE | safe }}
            },
            {
                name: '입력 오류 - 기타',
                data: {{ query_by_research_dict.ERROR_ETC | safe }}
            },
            {
                name: '입력 누락 - cycle',
                data: {{ query_by_research_dict.CYCLE | safe }}
            },
            {
                name: '입력 누락 - 기타',
                data: {{ query_by_research_dict.OMISSION_ETC | safe }}
            }
            ],
            xaxis: {
                categories: {{ research_list |safe }},
                position: 'bottom',
                labels: {
                    offsetY: -4,

                },
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false
                },
                crosshairs: {
                    fill: {
                        type: 'gradient',
                        gradient: {
                            colorFrom: '#D8E3F0',
                            colorTo: '#BED1E6',
                            stops: [0, 100],
                            opacityFrom: 0.4,
                            opacityTo: 0.5,
                        }
                    }
                },
                tooltip: {
                    enabled: false,
                }
            },
            fill: {
                gradient: {
                    shade: 'light',
                    type: "horizontal",
                    shadeIntensity: 0.25,
                    gradientToColors: undefined,
                    inverseColors: true,
                    opacityFrom: 1,
                    opacityTo: 1,
                    stops: [50, 0, 100, 100]
                },
            },
            yaxis:
            [
              {
		        seriesName: 'query_by_research_dict.TOTAL',
                axisBorder: {
                  show: true,
                  color: '#008FFB'
                },
                labels: {
                  style: {
                    colors: '#008FFB',
                  }
                },
                title: {
                    text: "Counts",
                    style: {
                        fontSize: '15px',
                        color: '#008FFB',
                    }
                },
              },
            ],
        }

        var query_by_research = new ApexCharts(
            document.querySelector(".query_by_research_graph"),
            options
        );
        query_by_research.render();

        var options2 = {
	    chart: {
                type: 'bar',
                stacked: true,
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        position: 'top',
                    },
                }
            },
            colors: ['#5E50F9', '#46c35f', '#fcb41d', '#57c7d4', '#f6e84e', '#aab2bd', '#E91E63'],
            dataLabels: {
                enabled: true,
                formatter: function (val) {
                    return val ;
                },
                style: {
                    fontSize: '11px',
                    colors: ["#304758"]
                }
            },
	    series: [{
                name: '입력 오류 - AE 관련',
                data: {{ query_by_CRC_dict.AE | safe }}
            },
            {
                name: '입력 오류 - RECIST 관련',
                data: {{ query_by_CRC_dict.RECIST | safe }}
            },
            {
                name: '입력 오류 - LAB 관련',
                data: {{ query_by_CRC_dict.LAB | safe }}
            },
            {
                name: '입력 오류 - 투약 관련',
                data: {{ query_by_CRC_dict.DOSAGE | safe }}
            },
            {
                name: '입력 오류 - 기타',
                data: {{ query_by_CRC_dict.ERROR_ETC | safe }}
            },
            {
                name: '입력 누락 - cycle',
                data: {{ query_by_CRC_dict.CYCLE | safe }}
            },
            {
                name: '입력 누락 - 기타',
                data: {{ query_by_CRC_dict.OMISSION_ETC | safe }}
            }
            ],
            xaxis: {
                categories: {{ CRC_list |safe }},
                position: 'bottom',
                labels: {
                    offsetY: -4,

                },
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false
                },
                crosshairs: {
                    fill: {
                        type: 'gradient',
                        gradient: {
                            colorFrom: '#D8E3F0',
                            colorTo: '#BED1E6',
                            stops: [0, 100],
                            opacityFrom: 0.4,
                            opacityTo: 0.5,
                        }
                    }
                },
                tooltip: {
                    enabled: false,
                    offsetY: -35,
                }
            },
            fill: {
                gradient: {
                    shade: 'light',
                    type: "horizontal",
                    shadeIntensity: 0.25,
                    gradientToColors: undefined,
                    inverseColors: true,
                    opacityFrom: 1,
                    opacityTo: 1,
                    stops: [50, 0, 100, 100]
                },
            },
            yaxis:
            [
              {
		        seriesName: 'query_by_CRC_dict.TOTAL',
                axisBorder: {
                  show: true,
                  color: '#008FFB'
                },
                labels: {
                  style: {
                    colors: '#008FFB',
                  }
                },
                title: {
                    text: "Counts",
                    style: {
                        fontSize: '15px',
                        color: '#008FFB',
                    }
                },
              },
            ],
        }

        var query_by_CRC = new ApexCharts(
            document.querySelector(".query_by_CRC_graph"),
            options2
        );
        query_by_CRC.render();

        var options3 = {
	    chart: {
                type: 'bar',
                stacked: true,
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        position: 'top',
                    },
                }
            },
            colors: ['#5E50F9', '#46c35f', '#fcb41d', '#57c7d4', '#f6e84e', '#aab2bd', '#E91E63'],
            dataLabels: {
                enabled: true,
                formatter: function (val) {
                    return val ;
                },
                style: {
                    fontSize: '11px',
                    colors: ["#304758"]
                }
            },
	    series: [{
                name: '입력 오류 - AE 관련',
                data: {{ query_by_PI_dict.AE | safe }}
            },
            {
                name: '입력 오류 - RECIST 관련',
                data: {{ query_by_PI_dict.RECIST | safe }}
            },
            {
                name: '입력 오류 - LAB 관련',
                data: {{ query_by_PI_dict.LAB | safe }}
            },
            {
                name: '입력 오류 - 투약 관련',
                data: {{ query_by_PI_dict.DOSAGE | safe }}
            },
            {
                name: '입력 오류 - 기타',
                data: {{ query_by_PI_dict.ERROR_ETC | safe }}
            },
            {
                name: '입력 누락 - cycle',
                data: {{ query_by_PI_dict.CYCLE | safe }}
            },
            {
                name: '입력 누락 - 기타',
                data: {{ query_by_PI_dict.OMISSION_ETC | safe }}
            }
            ],
            xaxis: {
                categories: {{ PI_list |safe }},
                position: 'bottom',
                labels: {
                    offsetY: -4,

                },
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false
                },
                crosshairs: {
                    fill: {
                        type: 'gradient',
                        gradient: {
                            colorFrom: '#D8E3F0',
                            colorTo: '#BED1E6',
                            stops: [0, 100],
                            opacityFrom: 0.4,
                            opacityTo: 0.5,
                        }
                    }
                },
                tooltip: {
                    enabled: false,
                    offsetY: -35,
                }
            },
            fill: {
                gradient: {
                    shade: 'light',
                    type: "horizontal",
                    shadeIntensity: 0.25,
                    gradientToColors: undefined,
                    inverseColors: true,
                    opacityFrom: 1,
                    opacityTo: 1,
                    stops: [50, 0, 100, 100]
                },
            },
            yaxis:
            [
              {
		        seriesName: 'query_by_PI_dict.TOTAL',
                axisBorder: {
                  show: true,
                  color: '#008FFB'
                },
                labels: {
                  style: {
                    colors: '#008FFB',
                  }
                },
                title: {
                    text: "Counts",
                    style: {
                        fontSize: '15px',
                        color: '#008FFB',
                    }
                },
              },
            ],
        }

        var query_by_PI = new ApexCharts(
            document.querySelector(".query_by_PI_graph"),
            options3
        );
        query_by_PI.render();
</script>
<style>
    .hide-calendar .ui-datepicker-calendar {
        display: none;
    }
</style>
{% endblock %}
