{% load get_m2m_values from research_tag %}

<label for="alternation" class="col-sm-2 col-form-label pl-3 striped font-weight-bold overflow-hidden word-keep-all text-black">Alternation
  {% autoescape off %}
    {% if 'alternation' in errors %}
      <div class="text-danger small"
           style="line-height: 1rem;">{{ errors.alternation }}</div>
    {% endif %}
  {% endautoescape %}
</label>
<div class="col-sm-3 form-input-container checkbox-radio-input">
    <div style="display:flex; justify-content: left; flex-wrap:wrap;">
      <div class="cancer-type-category border-0">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" style="padding:10px" class="form-check-input"
                   name="alternation" value="EGFR"
                {% if 'EGFR' in query.alternation %}
                   checked {% endif %}
                {% if not editable %} disabled {% endif %}>
            <i class="input-helper"></i><span>EGFR</span></label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" style="padding:10px" class="form-check-input"
                   name="alternation" value="HER2"
                {% if 'HER2' in query.alternation %}
                   checked {% endif %}
                {% if not editable %} disabled {% endif %}>
            <i class="input-helper"></i><span>HER2</span></label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" style="padding:10px" class="form-check-input"
                   name="alternation" value="ALK"
                {% if 'ALK' in query.alternation %}
                   checked {% endif %}
                {% if not editable %} disabled {% endif %}>
            <i class="input-helper"></i><span>ALK</span></label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" style="padding:10px" class="form-check-input"
                   name="alternation" value="MET"
                {% if 'MET' in query.alternation %}
                   checked {% endif %}
                {% if not editable %} disabled {% endif %}>
            <i class="input-helper"></i><span>MET</span></label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" style="padding:10px" class="form-check-input"
                   name="alternation" value="NTRK"
                {% if 'NTRK' in query.alternation %}
                   checked {% endif %}
                {% if not editable %} disabled {% endif %}>
            <i class="input-helper"></i><span>NTRK</span></label>
        </div>
      </div>

      <div class="cancer-type-category border-0">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" style="padding:10px" class="form-check-input"
                   name="alternation" value="KRAS/NRAS"
                {% if 'KRAS/NRAS' in query.alternation %}
                   checked {% endif %}
                {% if not editable %} disabled {% endif %}>
            <i class="input-helper"></i><span>KRAS/NRAS</span></label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" style="padding:10px" class="form-check-input"
                   name="alternation" value="BRAF/PR"
                {% if 'BRAF/PR' in query.alternation %}
                   checked {% endif %}
                {% if not editable %} disabled {% endif %}>
            <i class="input-helper"></i><span>BRAF/PR</span></label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" style="padding:10px" class="form-check-input"
                   name="alternation" value="MSI"
                {% if 'MSI' in query.alternation %}
                   checked {% endif %}
                {% if not editable %} disabled {% endif %}>
            <i class="input-helper"></i><span>MSI</span></label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" style="padding:10px" class="form-check-input"
                   name="alternation" value="HRD(BRCA/ATM/etc)"
                {% if 'HRD(BRCA/ATM/etc)' in query.alternation %}
                   checked {% endif %}
                {% if not editable %} disabled {% endif %}>
            <i class="input-helper"></i><span>HRD(BRCA, ATM, etc)</span></label>
        </div>
      </div>

      <div class="cancer-type-category border-0">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" style="padding:10px" class="form-check-input"
                   name="alternation" value="ER/PR"
                {% if 'ER/PR' in query.alternation %}
                   checked {% endif %}
                {% if not editable %} disabled {% endif %}>
            <i class="input-helper"></i><span>ER/PR</span></label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" style="padding:10px" class="form-check-input"
                   name="alternation" value="PIK3CA"
                {% if 'PIK3CA' in query.alternation %}
                   checked {% endif %}
                {% if not editable %} disabled {% endif %}>
            <i class="input-helper"></i><span>PIK3CA</span></label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" style="padding:10px" class="form-check-input"
                   name="alternation" value="FGFR"
                {% if 'FGFR' in query.alternation %}
                   checked {% endif %}
                {% if not editable %} disabled {% endif %}>
            <i class="input-helper"></i><span>FGFR</span></label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" style="padding:10px" class="form-check-input"
                   name="alternation" value="TMB"
                {% if 'TMB' in query.alternation %}
                   checked {% endif %}
                {% if not editable %} disabled {% endif %}>
            <i class="input-helper"></i><span>TMB</span></label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" style="padding:10px" class="form-check-input"
                   name="alternation" value="etc"
                {% if 'etc' in query.alternation %}
                   checked {% endif %}
                {% if not editable %} disabled {% endif %}>
            <i class="input-helper"></i><span>기타</span></label>
        </div>
      </div>
      <!-- Flex end -->
    </div>
</div>