{% load get_m2m_values from research_tag %}

<label for="line"  class="col-lg-2 col-form-label">Line
  {% autoescape off %}
    {% if 'line' in errors %}
      <div class="text-danger small"
           style="line-height: 1rem;">{{ errors.line }}</div>
    {% endif %}
  {% endautoescape %}
</label>

<div class="col-lg-10 col-form-data no-flex">
    <div class="row row-cols-auto">
      {% for value, text in field_choice.line %}
        {% if forloop.counter0 > 0 %}
          <div class="col">
            <div class="form-check form-check-success">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="line" value="{{ value }}"
                {% if 'na' in research.line.all|get_m2m_values or 'na' in pre_initiation.line.all|get_m2m_values or 'na' in pre_initiation_IIT.line.all|get_m2m_values %}
                    disabled {% endif %}
                {% if value in research.line.all|get_m2m_values or value in pre_initiation.line.all|get_m2m_values or value in pre_initiation_IIT.line.all|get_m2m_values %}
                    checked {% endif %}
                {% if not editable %} disabled {% endif %}><i class="input-helper"></i>
                <span class="form-check-sign">{{ text }}</span>
              </label>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
</div>