{% load get_m2m_values from research_tag %}
{% load get_o2m_values from research_tag %}

<label for="pdl1" class="font-weight-bold col-sm-1 col-form-label striped pl-3 word-keep-all" style="color:black;">
  PDL1 양성 필요여부
  {% autoescape off %}
    {% if 'pdl1' in errors %}
      <div class="text-danger small"
           style="line-height: 1rem;">{{ errors.pdl1 }}</div>
    {% endif %}
  {% endautoescape %}
</label>
<div class="col-sm-2 form-input-container checkbox-radio-input flex-container">

  <div class="cancer-type-category" style="border: none;">
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" style="padding:10px" class="form-check-input"
               name="pdl1" value="na"
            {% if 'na' == research.pdl1|get_o2m_values %}
               checked {% endif %}
            {% if not editable %} disabled {% endif %}>
        <i class="input-helper"></i><span>해당없음</span></label>
    </div>
  </div>
  <div style="display:flex; justify-content: left; flex-wrap:wrap;">
    <div class="cancer-type-category">
      {% for value, text in field_choice.pdl1 %}
        {% if forloop.counter0 > 0 %}
          <div class="form-check" style="margin-right: 30px;">
            <label class="form-check-label">
              <input type="radio" style="padding:10px" class="form-check-input"
                     name="pdl1" value="{{ value }}"
                  {% if value == research.pdl1|get_o2m_values %}
                     checked {% endif %}
                  {% if not editable %} disabled {% endif %}>
              <i class="input-helper"></i><span>{{ text }}</span>
            </label>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <!-- Flex end -->
  </div>

</div>
