{% extends "bases/base_generic.html" %}
{% load static %}

	{% block content %}
		<div class="page-content">
			<div class="container-fluid">
				<div class="bg-overlay bg-white"></div>

				<!-- start page title -->
				<div class="row">
					<div class="col-12">
						<div class="page-title-box d-flex align-items-center justify-content-between">
							<h2>개시연구-연구 수정</h2>
							<button id="print" type="button" class="btn btn-outline-secondary print_btn"><i class="bi bi-printer"></i> <span class="invisible-">화면 프린트</span></button>

							<div class="page-nav">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="/"> <i class="bi bi-house"></i> </a></li>
									<li class="breadcrumb-item"><a href="">Studies</a></li>
									<li class="breadcrumb-item"><a href="/research/pre_initiation/">개시 연구</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- end page title -->

				<!-- start contents-area -->
				<div class="row" id="printArea">
					<div class="col-12">


						<!-- 연구 정보 -->
						<div class="card maindata-card shadow mb-5">
							<!-- Card Header - Dropdown -->
							<!-- Card Body -->
							<div class="card-body">
								<div class="default-forms">
									<form class="forms-sample" method="post" action="/research/pre_initiation/{{ pre_initiation.id }}/edit/" enctype="multipart/form-data">
										{% csrf_token %}
										{% include 'pages/research/pre_initiation/pre_initiation_add_edit_form.html' %}
                                        <div class="py-4 px-3 text-end">
                                          <button type="button" class="btn btn-outline-secondary" onclick="location.href='/research/pre_initiation'"><i class="bi bi-arrow-left-square"></i> <span>Cancel</span></button>
                                          <button type="submit" class="btn btn-success edit-btn px-4" onclick="location.href='/research/pre_initiation/{{ pre_initiation.id }}/'"><i class="bi bi-pencil"></i> <span>Save</span></button>
                                        </div>
									</form>

								</div><!-- //default-forms -->
							</div>
						</div><!-- //maindata-card -->
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

{% block script %}
<!-- 커스텀 js -->
<script src="{% static 'js/CRUD/pre_initiation_detail.js' %}"></script>
<script src="{% static 'js/CRUD/research_add.js' %}"></script>
<script>
  $(function() {
      $( ".initiationdate" ).datepicker({
          todayHighlight : true
      });
  });

  $('input[type=radio][name=type]').on('click',function () {
    var chkValue = $('input[type=radio][id=required]:checked').val();

    if(chkValue == 'IIT'){
      $( 'input[name=is_withhold]' ).attr('disabled', 'disabled');
      $( 'input[name=is_commence]' ).attr('disabled', 'disabled');
      $( 'input[name=CRO]' ).attr('disabled', 'disabled');
    }
    else {
      $( 'input[name=is_withhold]' ).removeAttr('disabled');
      $( 'input[name=is_commence]' ).removeAttr('disabled');
      $( 'input[name=CRO]' ).removeAttr('disabled');
    }
  });
</script>
{% endblock %}
