{% extends "bases/base_generic.html" %}
{% load get_m2m_values from research_tag %}
{% load static %}

	{% block content %}
		<div class="page-content">
			<div class="container-fluid">
				<div class="bg-overlay bg-white"></div>

				<!-- start page title -->
				<div class="row">
					<div class="col-12">
						<div class="page-title-box d-flex align-items-center justify-content-between">
							<h2>Add</h2>
							<button id="print" type="button" class="btn btn-outline-secondary print_btn"><i class="bi bi-printer"></i> <span class="invisible-">화면 프린트</span></button>
							<div class="page-nav">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="/"> <i class="bi bi-house"></i> </a></li>
									<li class="breadcrumb-item"><a href="/miscellaneous/supporting/">Blood Sample</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- end page title -->

                <!-- start contents-area -->
				<div class="row" id="printArea">
					<div class="col-12">
						<div class="card maindata-card shadow mb-5">
							<!-- Card Header - Dropdown -->
							<!-- Card Body -->
							<div class="card-body">
								<div class="default-forms">
							      <form class="forms-sample" method="post" action="/miscellaneous/supporting/add/" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="form-group row {% if 'lab_date' in errors %} card-inverse-danger {% endif %}">
									  <label for="lab_date" class="col-sm-3 col-form-label">Date
										{% autoescape off %}
										  {% if 'lab_date' in errors %}
											<div class="text-danger small" style="line-height: 1rem;">{{ errors.lab_date }}</div>
										  {% endif %}
										{% endautoescape %}
									  </label>
									  <div class="col-sm-9 col-form-data">
										<div class="input-group">
										  <input autocomplete="off" class="form-control lab_date" name="lab_date"
												 value="{% if supporting.assignment_id %}{{ supporting.lab_date|date:'Y/m/d H:i' }}{% endif %}" >
										</div>
									  </div>
									</div>

									<div class="form-group row {% if 'assignment' in errors %} card-inverse-danger {% endif %}">
									  <label for="assignment" class="col-sm-3 col-form-label">Patient
										{% autoescape off %}
										  {% if 'assignment' in errors %}
											<div class="text-danger small" style="line-height: 1rem;">{{ errors.assignment }}</div>
										  {% endif %}
										{% endautoescape %}
									  </label>
									  <div class="col-sm-9 col-form-data">
										  <select id="assignment" name="assignment">
											  <option value="{{supporting.assignment_id}}">
												{{supporting.assignment.no}} / {{supporting.assignment.register_number}} / {{supporting.assignment.name}} -> {{supporting.assignment.research.research_name}} ({{supporting.assignment.status}})</option>
										  </select>
									  </div>
									</div>

									<div class="form-group row {% if 'kinds' in errors %} card-inverse-danger {% endif %}">
									  <label for="kinds" class="col-sm-3 col-form-label">Category
										{% autoescape off %}
										  {% if 'kinds' in errors %}
											<div class="text-danger small" style="line-height: 1rem;">{{ errors.kinds }}</div>
										  {% endif %}
										{% endautoescape %}
									  </label>
									  <div class="col-sm-9 col-form-data">
										  <select id="kinds" name="kinds" class="form-select">
											<option value="">-------</option>
											<option value="PK-pre">PK-pre</option>
											<option value="PK-post">PK-post</option>
											<option value="EKG">EKG</option>
											<option value="PK/EKG">PK/EKG</option>
											<option value="Bx">Bx</option>
											<option value="LAB">LAB</option>
											<option value="PK+LAB">PK+LAB</option>
										  </select>
									  </div>
									</div>

									<div class="form-group row {% if 'post_hour' in errors %} card-inverse-danger {% endif %}">
									  <label for="post_hour" class="col-sm-3 col-form-label">Post
										{% autoescape off %}
										  {% if 'post_hour' in errors %}
											<div class="text-danger small" style="line-height: 1rem;">{{ errors.post_hour }}</div>
										  {% endif %}
										{% endautoescape %}
									  </label>
									  <div class="col-sm-9 col-form-data">
										  <input type="number" step="0.1" class="form-control" name="post_hour" placeholder="hr">
									  </div>
									</div>

									<div class="form-group row {% if 'crc' in errors %} card-inverse-danger {% endif %}">
									  <label for="crc" class="col-sm-3 col-form-label">CRC
										{% autoescape off %}
										  {% if 'crc' in errors %}
											<div class="text-danger small" style="line-height: 1rem;">{{ errors.crc }}</div>
										  {% endif %}
										{% endautoescape %}
									  </label>
									  <div class="col-sm-9 col-form-data">
										  <input type="text" class="form-control" name="crc"
												 value="{% if supporting.crc %}{{ supporting.crc }}{% else %}{{ request.user.first_name }}{% endif %}">
									  </div>
									</div>

									<div class="form-group row {% if 'supporting_type' in errors %} card-inverse-danger {% endif %}">
									  <label for="supporting_type" class="col-sm-3 col-form-label">Sample Collection
										{% autoescape off %}
										  {% if 'supporting_type' in errors %}
											<div class="text-danger small" style="line-height: 1rem;">{{ errors.supporting_type }}</div>
										  {% endif %}
										{% endautoescape %}
									  </label>
									  <div class="col-sm-9 col-form-data">
										<div class="row row-cols-auto">
										  <div class="col">
											<div class="form-check form-check-success">
											  <label class="form-check-label">
												<input type="radio" class="form-check-input" name="supporting_type" value="진검검체"
													   {% if '진검검체' in supporting.supporting_type %} checked {% endif %}>
												<i class="input-helper"></i><span class="form-check-sign">진검 검체</span>
											  </label>
											</div>
										  </div>
										  <div class="col">
											<div class="form-check form-check-success">
											  <label class="form-check-label">
												<input type="radio" class="form-check-input" name="supporting_type" value="별도채혈"
													   {% if '별도채혈' in supporting.supporting_type %} checked {% endif %}>
												<i class="input-helper"></i><span class="form-check-sign">별도 채혈</span>
											  </label>
											</div>
										  </div>
										  <div class="col">
											<div class="form-check form-check-success">
											  <label class="form-check-label">
												<input type="radio" class="form-check-input" name="supporting_type" value="채혈실동행"
													   {% if '채혈실동행' in supporting.supporting_type %} checked {% endif %}>
												<i class="input-helper"></i><span class="form-check-sign">동행 채혈</span>
											  </label>
											</div>
										  </div>
										  <div class="col">
											<div class="form-check form-check-success">
											  <label class="form-check-label">
												<input type="radio" class="form-check-input" name="supporting_type" value="분주"
													   {% if '분주' in supporting.supporting_type %} checked {% endif %}>
												<i class="input-helper"></i><span class="form-check-sign">분주</span>
											  </label>
											</div>
										  </div>
									  </div>
									</div>

									<div class="form-group row {% if 'comment' in errors %} card-inverse-danger {% endif %}">
									  <label for="comment" class="col-sm-3 col-form-label">Comment
										{% autoescape off %}
										  {% if 'comment' in errors %}
											<div class="text-danger small" style="line-height: 1rem;">{{ errors.comment }}</div>
										  {% endif %}
										{% endautoescape %}
									  </label>
									  <div class="col-sm-9 col-form-data">
										  <textarea class="form-control position-relative" name="comment"  rows="4"></textarea>
									  </div>
									</div>

									<div class="form-group row {% if 'technician' in errors %} card-inverse-danger {% endif %}">
									  <label for="technician" class="col-sm-3 col-form-label">Technician
										{% autoescape off %}
										  {% if 'technician' in errors %}
											<div class="text-danger small" style="line-height: 1rem;">{{ errors.technician }}</div>
										  {% endif %}
										{% endautoescape %}
									  </label>
									  <div class="col-sm-9 col-form-data">
										<div>
										  {% if job_title == 'technician' %}
											<input class="form-control col-sm-12" name="technician"
												   value="{% if supporting.technician %}{{ supporting.technician }}{% endif %}">
										  {% else %}
											<input type="hidden" class="form-control col-sm-12" name="technician"
												 value="{% if supporting.technician %}{{ supporting.technician }}{% endif %}">
										  {% endif %}
										</div>
									  </div>
									</div>
									<div class="py-4 px-3 text-end">
										<button type="button" class="btn btn-outline-secondary" onclick="history.back()">
											<i class="bi bi-arrow-left-square"></i> <span>Cancel</span>
										</button>
										<button type="submit" class="btn btn-success edit-btn px-4">
											<i class="bi bi-pencil"></i> <span>Save</span>
										</button>
									</div>
								  </form>
								</div><!-- //default-forms -->
							</div>
						</div><!-- //maindata-card -->
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

{% block script %}
<link href="{% static 'css/chosen.min.css' %}" rel="stylesheet">

<!-- blood 페이지용 js -->
<script src="{% static 'assets/js/pages/blood.js' %}"></script>
<script src="{% static 'js/chosen.jquery.min.js' %}"></script>
<script src="{% static 'js/CRUD/waitinglist_add.js' %}"></script>
<script>
      $(function() {
        var today = new Date();
        var next_week = new Date();
        next_week.setDate(today.getDate()+(7-today.getDay()));
        var next_weekend = new Date();
        next_weekend.setDate(next_week.getDate()+13);

        $( ".lab_date" ).datetimepicker({
            todayHighlight : true,
        });
	    $( ".lab_date_no_limit" ).datetimepicker({
            todayHighlight : true,
        });
      });

      $(".chosen").chosen();
</script>
<style>
    input[name="pre_hour"]::placeholder {
                    text-align: right;
                }
    input[name="post_hour"]::placeholder {
                    text-align: right;
                }
    .specialDate { background-color: #6F0 !important; }
</style>
{% endblock %}
