{% extends "bases/base_generic.html" %}
{% load static %}

	{% block content %}
		<div class="page-content">
			<div class="container-fluid">
				<div class="bg-overlay bg-white"></div>

				<!-- start page title -->
				<div class="row">
					<div class="col-12">
						<div class="page-title-box d-flex align-items-center justify-content-between">
							<h2>연락처</h2>
							<button id="print" type="button" class="btn btn-outline-secondary print_btn"><i class="bi bi-printer"></i> <span class="invisible-">화면 프린트</span></button>
							<div class="page-nav">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="/"> <i class="bi bi-house"></i> </a></li>
									<li class="breadcrumb-item"><a href="">Staff</a></li>
									<li class="breadcrumb-item"><a href="/user/list/">연락처</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- end page title -->

				<!-- start contents-area -->
				<div class="row" id="printArea">
					<div class="col-12 staffarea_01">

						<!-- 다중선택되는 select박스로 검색하기 -->
						<div class="row row-cols-auto select-action">
							<div class="col">
								<select id="table-filter" class="form-select">
									<option value="">Team All</option>
									{% for team in teams %}
									<option value="{{ team.name }}">{{ team.name }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col">
								<select id="table-filter2" class="form-select">
									<option value="">사무실 전체</option>
									{% for location in locations %}
									<option value="{{ location.name }}">{{ location.name }}</option>
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="table-responsive default-table">
							<table class="table table-bordered" id="staffTable01" >
								<thead>
									<tr>
										<th>Team</th>
										<th>이름</th>
										<th>영문명</th>
										<th>구내전화</th>
										<th>전화번호</th>
										<th>E-mail</th>
										<th>Career</th>
										<th>사무실</th>
										<th class="text-center">관리</th>
									</tr>
								</thead>
								<tbody>
								{% for contact in contact %}
									{% if contact.team.name == 'etc' %} <!-- etc 경우, 임상병리사/의무기록사/연구행정 구분-->
										{% if contact.user.groups.all.0.name == 'technician' %}
											<tr>
												<td>임상병리사</td>
												<td>{{ contact.name }}</td>
												<td>{{ contact.eng_name }}</td>
												<td>{{ contact.phone }}</td>
												<td>{{ contact.work_phone }}</td>
												<td>{{ contact.email }}</td>
												<td>{{ contact.career_period }}</td>
												<td>{{ contact.location.name }}</td>
												<td class="text-center">
													<button type='button' class='btn btn-outline-success btn-sm text-nowrap' data-bs-toggle="modal" data-bs-target="#edit_contact_{{ contact.id }}">
														<i class="bi bi-pencil"></i> <span class="sr-only-">수정</span>
													</button>
												</td>
											</tr>
										{% elif contact.user.groups.all.0.name == 'medical records' %}
											<tr>
												<td>의무기록사</td>
												<td>{{ contact.name }}</td>
												<td>{{ contact.eng_name }}</td>
												<td>{{ contact.phone }}</td>
												<td>{{ contact.work_phone }}</td>
												<td>{{ contact.email }}</td>
												<td>{{ contact.career_period }}</td>
												<td>{{ contact.location.name }}</td>
												<td class="text-center">
													<button type='button' class='btn btn-outline-success btn-sm text-nowrap' data-bs-toggle="modal" data-bs-target="#edit_contact_{{ contact.id }}">
														<i class="bi bi-pencil"></i> <span class="sr-only-">수정</span>
													</button>
												</td>
											</tr>
										{% else %}
											<tr>
												<td>연구행정</td>
												<td>{{ contact.name }}</td>
												<td>{{ contact.eng_name }}</td>
												<td>{{ contact.phone }}</td>
												<td>{{ contact.work_phone }}</td>
												<td>{{ contact.email }}</td>
												<td>{{ contact.career_period }}</td>
												<td>{{ contact.location.name }}</td>
												<td class="text-center">
													<button type='button' class='btn btn-outline-success btn-sm text-nowrap' data-bs-toggle="modal" data-bs-target="#edit_contact_{{ contact.id }}">
														<i class="bi bi-pencil"></i> <span class="sr-only-">수정</span>
													</button>
												</td>
											</tr>
										{% endif %}
								    {% else %}
									<tr>
										<td>{{ contact.team.name }}</td>
										<td>{{ contact.name }}</td>
										<td>{{ contact.eng_name }}</td>
										<td>{{ contact.phone }}</td>
										<td>{{ contact.work_phone }}</td>
										<td>{{ contact.email }}</td>
										<td>{{ contact.career_period }}</td>
										<td>{{ contact.location.name }}</td>
										<td class="text-center">
											<button type='button' class='btn btn-outline-success btn-sm text-nowrap' data-bs-toggle="modal" data-bs-target="#edit_contact_{{ contact.id }}">
												<i class="bi bi-pencil"></i> <span class="sr-only-">수정</span>
											</button>
										</td>
									</tr>
									{% endif %}
								{% endfor %}
								</tbody>
							</table>
						</div><!-- //table-responsive -->

						{% for contact in contact %}
						<div id="edit_contact_{{ contact.id }}" class="modal fade" role="dialog">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">연락처 수정</h4>
										<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
									</div>
									<form method="post" id="contact-edit-form-{{ contact.id }}" class="forms-sample" enctype="multipart/form-data">
										<div class="modal-body">
											{% csrf_token %}
											{% include 'pages/user/contact_edit_form.html' %}
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
												<i class="bi bi-arrow-left-square"></i> <span>Cancel</span>
											</button>
											<button type="button" class="btn btn-success edit-btn px-4 contact-edit-button" contact-id="{{ contact.id }}">
												<i class="bi bi-pencil"></i> <span>Save</span>
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
    {% endblock %}

{% block script %}
<!-- studies 페이지용 js -->
<script src="{% static 'assets/js/pages/staff.js' %}"></script>
<script src="{% static 'js/CRUD/contact_detail.js' %}"></script>
<script>
	$('.dt-buttons').on('click', 'button.buttons-excel', function() {
		$.ajax({
			url: '/user/contact/download/',
			method: 'POST',
			data: {
				csrfmiddlewaretoken: '{{ csrf_token }}',
			},
			success:function (data){
				console.log('다운로드 이력 저장 완료');
			},
			error : function(xhr,errmsg,err) {
            	console.log(xhr.status + ": " + xhr.responseText);
            }
		});
	});
</script>
{% endblock %}
