{% load get_m2m_values from research_tag %}
{% load get_o2m_values from research_tag %}
{% load chunks from research_tag %}

<div class="form-group row {% if 'status' in errors %} card-inverse-danger {% endif %}">
  <label for="status" class="col-lg-2 col-form-label">Status
    {% autoescape off %}
      {% if 'status ' in errors %}
        <div class="text-danger small" style="line-height: 1rem;">{{ errors.status }}</div>
      {% endif %}
    {% endautoescape %}
  </label>
  <div class="col-lg-10 col-form-data">
    <div class="row row-cols-auto">
      <div class="col">
        <div class="form-check form-check-success">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="status" value="screening" {% if 'screening' == assignment.status %} checked {% endif %}><i class="input-helper"></i>
            <span class="form-check-sign">screening</span>
          </label>
        </div>
      </div>
      <div class="col">
        <div class="form-check form-check-success">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="status" value="ongoing" {% if 'ongoing' == assignment.status %}} checked {% endif %}><i class="input-helper"></i>
            <span class="form-check-sign">On Going</span>
          </label>
        </div>
      </div>
      <div class="col">
        <div class="form-check form-check-success">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="status" value="off" {% if 'off' == assignment.status %}} checked {% endif %}><i class="input-helper"></i>
            <span class="form-check-sign">Off</span>
          </label>
        </div>
      </div>
      <div class="col">
        <div class="form-check form-check-success">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="status" value="screening_fail" {% if 'screening_fail' == assignment.status %}} checked {% endif %}><i class="input-helper"></i>
            <span class="form-check-sign">Screening Fail</span>
          </label>
        </div>
      </div>
      <div class="col">
        <div class="form-check form-check-success">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="status" value="FU" {% if 'FU' == assignment.status %}} checked {% endif %}><i class="input-helper"></i>
            <span class="form-check-sign">FU</span>
          </label>
        </div>
      </div>
      <div class="col">
        <div class="form-check form-check-success">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="status" value="pre-screening" {% if 'pre-screening' == assignment.status %}} checked {% endif %}><i class="input-helper"></i>
            <span class="form-check-sign">Pre-screening</span>
          </label>
        </div>
      </div>
      <div class="col">
        <div class="form-check form-check-success">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="status" value="pre-screening-fail" {% if 'pre-screening-fail' == assignment.status %} checked {% endif %}><i class="input-helper"></i>
            <span class="form-check-sign">Pre-screening fail</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group row {% if 'phase' in errors %} card-inverse-danger {% endif %}">
  <label for="phase" class="col-lg-2 col-form-label">Target</br>(part/cohort/multi-arm)
    {% autoescape off %}
      {% if 'phase' in errors %}
        <div class="text-danger small" style="line-height: 1rem;">{{ errors.phase }}</div>
      {% endif %}
    {% endautoescape %}
  </label>

  <div class="col-lg-10 col-form-data">
    <div class="row row-cols-auto">
      {% for cr in research.onco_cr_count_set.all %}
      <div class="col">
        <div class="form-check form-check-success">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="phase" value="{{ cr.r_target }}"
                   {% if cr.r_target in assignment.phase or research.onco_cr_count_set.all|length == 1 %}
                       checked {% endif %}>
            <i class="input-helper"></i>
            <span class="form-check-sign">{{ cr.r_target }}</span>
          </label>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="form-group row {% if 'no' in errors %} card-inverse-danger {% endif %}">
  <label for="no" class="col-lg-2 col-form-label">Subject No.
    {% autoescape off %}
      {% if 'no' in errors %}
        <div class="text-danger small" style="line-height: 1rem;">{{ errors.no }}</div>
      {% endif %}
    {% endautoescape %}
  </label>
  <div class="col-lg-4 col-form-data">
      <input type="text" class="form-control" name="no"
             value="{% if assignment.no %}{{ assignment.no }}{% endif %}"
             placeholder="(연구 등록번호)">
  </div>
</div>

<div class="form-group row {% if 'register_number' in errors %} card-inverse-danger {% endif %}">
  <label for="register_number" class="col-lg-2 col-form-label">Patient No.
    {% autoescape off %}
      {% if 'register_number' in errors %}
        <div class="text-danger small" style="line-height: 1rem;">{{ errors.register_number }}</div>
      {% endif %}
    {% endautoescape %}
  </label>
  <div class="col-lg-4 col-form-data">
      <input type="text" class="form-control" name="register_number"
             value="{% if assignment.register_number %}{{ assignment.register_number }}{% endif %}"
             placeholder="(등록번호)">
  </div>
</div>

<div class="form-group row {% if 'name' in errors %} card-inverse-danger {% endif %}">
  <label for="name" class="col-lg-2 col-form-label">Name
    {% autoescape off %}
      {% if 'name' in errors %}
        <div class="text-danger small" style="line-height: 1rem;">{{ errors.name }}</div>
      {% endif %}
    {% endautoescape %}
  </label>
  <div class="col-lg-4 col-form-data">
      <input type="text" class="form-control" name="name"
             value="{% if assignment.name %}{{ assignment.name }}{% endif %}"
             placeholder="(환자 이름)">
  </div>
</div>

<div class="form-group row {% if 'sex' in errors %} card-inverse-danger {% endif %}">
  <label for="sex" class="col-lg-2 col-form-label">Sex
    {% autoescape off %}
      {% if 'sex' in errors %}
        <div class="text-danger small" style="line-height: 1rem;">{{ errors.sex }}</div>
      {% endif %}
    {% endautoescape %}
  </label>
  <div class="col-lg-4 col-form-data">
    <div class="row row-cols-auto">
      <div class="col">
        <div class="form-check form-check-success">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="sex" value="M" {% if 'M' == assignment.sex %} checked {% endif %}><i class="input-helper"></i>
            <span class="form-check-sign">M</span>
          </label>
        </div>
      </div>
      <div class="col">
        <div class="form-check form-check-success">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="sex" value="F" {% if 'F' == assignment.sex %} checked {% endif %}><i class="input-helper"></i>
            <span class="form-check-sign">F</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group row {% if 'age' in errors %} card-inverse-danger {% endif %}">
  <label for="age" class="col-lg-2 col-form-label">Age
    {% autoescape off %}
      {% if 'age' in errors %}
        <div class="text-danger small" style="line-height: 1rem;">{{ errors.age }}</div>
      {% endif %}
    {% endautoescape %}
  </label>
  <div class="col-lg-4 col-form-data">
      <input type="number" class="form-control" name="age"
             value="{% if assignment.age %}{{ assignment.age }}{% endif %}"
             min="0"
             placeholder="(나이)">
  </div>
</div>

<div class="form-group row {% if 'dx' in errors %} card-inverse-danger {% endif %}">
  <label for="dx" class="col-lg-2 col-form-label">Cancer
    {% autoescape off %}
      {% if 'dx' in errors %}
        <div class="text-danger small" style="line-height: 1rem;">{{ errors.dx }}</div>
      {% endif %}
    {% endautoescape %}
  </label>

  <div class="col-lg-10 col-form-data multi-form-check">
    <div class="row">
      {% for chunk in assignment_field_choice.dx|chunks:4 %}
        {% for value, text in chunk %}
          <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="form-check form-check-success">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="dx" value="{{ value }}"
                       {% if assignment.dx == value %} checked {% endif %}>
                <i class="input-helper"></i><span class="form-check-sign">{{ text }}</span>
              </label>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="form-group row {% if 'previous_tx' in errors %} card-inverse-danger {% endif %}">
  <label for="previous_tx" class="col-lg-2 col-form-label">Previous Tx.
    {% autoescape off %}
      {% if 'previous_tx' in errors %}
        <div class="text-danger small" style="line-height: 1rem;">{{ errors.previous_tx }}</div>
      {% endif %}
    {% endautoescape %}
  </label>
  <div class="col-lg-10 col-form-data">
      <textarea type="text" class="form-control" rows="5" name="previous_tx"
                placeholder="(Previous Tx)">{% if assignment.previous_tx %}{{ assignment.previous_tx }}{% endif %}</textarea>
  </div>
</div>

<div class="form-group row {% if 'ECOG' in errors %} card-inverse-danger {% endif %}">
  <label for="ECOG" class="col-lg-2 col-form-label">ECOG
    {% autoescape off %}
      {% if 'ECOG' in errors %}
        <div class="text-danger small" style="line-height: 1rem;">{{ errors.ECOG }}</div>
      {% endif %}
    {% endautoescape %}
  </label>
  <div class="col-lg-4 col-form-data">
      <input type="number" class="form-control" name="ECOG"
             value="{% if assignment.ECOG %}{{ assignment.ECOG }}{% endif %}"
             min="0" max="5">
    </div>
</div>

<div class="form-group row {% if 'PI' in errors %} card-inverse-danger {% endif %}">
  <label for="PI" class="col-lg-2 col-form-label">Doctor
    {% autoescape off %}
      {% if 'PI' in errors %}
        <div class="text-danger small" style="line-height: 1rem;">{{ errors.PI }}</div>
      {% endif %}
    {% endautoescape %}
  </label>
  <div class="col-lg-4 col-form-data">
      <input type="text" class="form-control" name="PI"
             value="{% if assignment.PI %}{{ assignment.PI }}{% endif %}">
    </div>
</div>


<div class="form-group row {% if 'curr_crc' in errors %} card-inverse-danger {% endif %}">
  <label for="curr_crc" class="col-lg-2 col-form-label">CRC
    {% autoescape off %}
      {% if 'curr_crc' in errors %}
        <div class="text-danger small" style="line-height: 1rem;">{{ errors.curr_crc }}</div>
      {% endif %}
    {% endautoescape %}
  </label>
  <div class="col-lg-4 col-form-data">
      <select class="form-select" id="curr_crc" name="curr_crc">
          <option value="" selected="">-------</option>
            {% for backup in backup %}
            <option value="{{backup.id}}" {% if backup.id == assignment.curr_crc.id %} selected {% endif %}>{{backup}}</option>
            {% endfor %}
      </select>
  </div>
</div>
